.logo {
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text {
  @media (max-width: $mobile-width-only) {
    transform: translate(50%);
  }

  @media (min-width: $desktop-width) {
    width: 118px;
  }
}
